TTS_TIMEOUT_MS=120000
TTS_HEALTH_TIMEOUT_MS=1500
VOXCPM2_BASE_URL=http://127.0.0.1:8000
VOXCPM2_MODEL=voxcpm2
VOXCPM2_VOICES=default
MOSS_TTS_BASE_URL=http://127.0.0.1:8001
MOSS_TTS_MODEL=moss-tts
MOSS_TTS_VOICES=default
KOKORO_BASE_URL=http://127.0.0.1:8880
KOKORO_MODEL=kokoro
KOKORO_VOICES=af_heart,af_bella
SAKTHAI_BASE_URL=http://127.0.0.1:8890
SAKTHAI_MODEL=sakthai
SAKTHAI_VOICES=default
